/* Universal Style */

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;


}



a {
  color: seashell;
}

nav span {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px 10px;
}
/* Header */

header {
  display: flex;
  position: fixed;
  z-index: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 10px;
}

/* Container */

.container {
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

/* Our Mission */

.mission {
  position: relative;
  height: 700px;
  width: 1200px;
  align-content: center;
  margin: auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  line-height: 50%;

}

/* Tea of the Month */

.tea-month {
  display: flex;
  flex-direction: column;
  transform: translate (-50%, -50%)
  text-align: center;
  border: 2px solid white;
}
.tea-content {
  transform: translate (-50%, -50%)
  width: 1000px;
}

.tea-type {
  display: flex;
  flex-direction: column;
}
.tea-top {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  align-items: center;
}
.tea-image {
  height: 200px;
  width: 300px;
}

.berry-blitz {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-berryblitz.jpg);
  background-size: contain;
}

.tea-text {
  margin: 10px;
}
